*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
html,body{
    height: 100vh;
    width: 100%;
    font-family: 'Roboto', sans-serif;
    background-color: rgb(211, 212, 214);
    font-size: 10px;

}
#main{
    height: 100%;
    width: 100%;
}
.nav_bar{
    position: absolute;
    height: 10%;
    top: 0%;
    width: 100%;
    background-color: white;
    position: fixed;
    z-index: 99;
}
.img1{
    position: absolute;
    top: 8%;
    height: 45px;
    width: 45px;
    left: 8%;

}
img{
    object-fit: cover;
    object-position: center;
}
.search_bar{
    position: absolute;
    height: 37px;
    width: 300px;
    /* border: 1px solid black; */
    border-radius: 5px;
    background-color: rgb(239, 241, 248);
    top: 15%;
    left: 12%;



}
input[type=text]{
    position: absolute;
    height: 100%;
    width: 100%;
    font-size: 20px;
    border: none;
    background-color: rgb(239, 241, 248);
    border-radius: 5px;
    padding-left: 6vh;
    
    
}
input[type=text]:focus{
    transition: all .3s linear;
    width: 380px;
}

.s{
    position: absolute;
    font-size: 17px;
    font-weight: bold;
    color: rgb(104, 103, 103);
    top: 30%;
    left: 5%;
}
.menu{
    position: absolute;
    top: 13%;
    left: 41%;

}
.menu ul{
    display: flex;
    font-size: 25px;
    list-style: none;

}
.menu ul li{
    padding-left: 58px;
    color: rgb(0, 0, 0);
    margin-bottom: 0px;
}
li>a{
    text-decoration: none;
    color: black;
}
.menu>ul>li:nth-child(1)::before{
    content:"Home";
    position: absolute;
    color: rgb(49, 48, 48);
    font-size: 12px;
    top: 80%;
    left: 12%;
    cursor: pointer;

  
}

.menu>ul>li:nth-child(2)::before{
    content:"My Network";
    position: absolute;
    color: rgb(49, 48, 48);
    font-size: 12px;
    top: 80%;
    left: 30%;
    cursor: pointer;

  
}
.menu>ul>li:nth-child(3)::before{
    content:"Jobs";
    position: absolute;
    color: rgb(49, 48, 48);
    font-size: 12px;
    top: 80%;
    left: 53%;
    cursor: pointer;

  
}
.menu>ul>li:nth-child(4)::after{
    content:"Messaging";
    position: absolute;
    color: rgb(92, 90, 90);
    font-size: 12px;
    top: 80%;
    left: 70%;
    cursor: pointer;

  
}
.menu>ul>li:nth-child(5)::after{
    content:"Notification";
    position: absolute;
    color: rgb(49, 48, 48);
    font-size: 12px;
    top: 80%;
    left: 90%;
    cursor: pointer;
}

.menu>ul>li:nth-child(5)::before{
    content:"4";
    position: absolute;
    height: 17px;
    width: 17px;
    border-radius: 50%;
    background-color: rgb(177, 2, 2);
    color: white;
    font-size: 14px;
    text-align: center;
    margin-left: 15px;
    margin-bottom: 20px;
  
}
.menu>ul>li:nth-child(4)::before{
    content:"4";
    position: absolute;
    height: 17px;
    width: 17px;
    border-radius: 50%;
    background-color: rgb(177, 2, 2);
    color: white;
    font-size: 14px;
    text-align: center;
    margin-left: 15px;
    margin-bottom: 20px;

  
}
.menu>ul>li:nth-child(2)::after{
    content:"8";
    position: absolute;
    height: 17px;
    width: 17px;
    border-radius: 50%;
    background-color: rgb(177, 2, 2);
    color: white;
    font-size: 14px;
    text-align: center;
    margin-bottom: 20px;
    margin-left: 0px;



  
}

/* .menu_txt{
    position: absolute;
    top: 66%;
    left: 41.3%;

}
.menu_txt ul{
    display: flex;
    font-size: 13px;
    list-style: none;

}
.menu_txt ul li{
    padding-left: 43px;
    color: rgb(49, 48, 48);

} */
.img2{
    position: absolute;
    height: 25px;
    width: 25px;
    border-radius: 50%;top: 10%;
    left: 78%;

}
.prof>h3{
    position: absolute;
    font-size: 13px;
    top: 65%;
    left: 77.6%;
    font-weight: 100;
    color: rgb(49, 48, 48);

}
.ae{
    position: absolute;
    top: 60%;
    left: 79%;
    font-size: 20px;
    color: rgb(78, 76, 76);
    cursor: pointer;
}
.line1{
    position: absolute;
    height: 100%;
    width: 1px;
    background-color: rgb(219, 214, 214);
    left: 82%;
}
.g{
    position: absolute;
    font-size: 25px;
    color: rgb(114, 111, 111);
    font-weight:100;
    left: 83.5%;
    top: 3%;
}
.g::after{
    content: "work";
    position: absolute;
    font-size: 14px;
    font-weight: 100;
    top: 98%;
    left: -35%;
    font-family: 'Roboto', sans-serif;
}
.ae1{
    position: absolute;
    top: 40%;
    font-size: 20px;
    left: 85%;
    color: rgb(90, 89, 89);
}
.a{
    position: absolute;
    text-align: center;
    font-size: 12px;
    font-weight: 100;
    color: rgb(61, 60, 60);
    margin-top: 10px;
    left: 88%;

}








#left{
    position: absolute;
    height: 65%;
    width: 17%;
    background-color: white;
    border-radius: 10px;
    top: 15%;
    left: 10%;
    position: fixed;
}

.detail{
    position: absolute;
    height: 100%;
    width: 100%;
    top: 5%;
    left: 3%;
    color: rgb(87, 74, 74);
}
.detail>ul{

    list-style: none;
    font-size: 17px;
    font-weight: 100;
}
.detail>ul>li{
    margin-bottom: 25px;
    cursor: pointer;
}
.one{
    display: flex;
    width: 60%;
    justify-content: space-around;
    text-align: center;
    align-items: center;
}
i{
    font-size: 22px;
    color: rgb(116, 111, 111);
}


#top{
    position: absolute;
    height: 70%;
    width: 40%;
    background-color: white;
    left: 29%;
    top: 15%;
    border-radius: 10px;
}
.head{
    position: absolute;
    font-size: 20px;
    font-size: 100;
    color: rgb(44, 43, 43);
    left: 3%;
    top: 2%;
}
.subhead{
    position: absolute;
    font-size: 15px;
    left: 3%;

    top: 7%;
    color: rgb(99, 92, 92);

    
}

.first{
    position: absolute;
    width: 95%;
    left: 2.5%;
    height: 40%;
    top: 10%;
    border-bottom: 1px solid rgb(209, 204, 204);


}
.img3{
    position: absolute;
    top: 35%;
    
    height: 60px;
    width: 60px;
}
.nam{
    position: absolute;
    font-size: 18px;
    top: 35%;
    left: 15%;
    color: blue;

}
.nam:hover{
    text-decoration: underline;
}
.mode{
    position: absolute;
    font-size: 14px;
    top: 46%;
    left: 15%;
    color: rgb(80, 75, 75);
}
.mode:hover{
    text-decoration: underline;
}
.place{
    position: absolute;
    font-size: 13px;
    top: 57%;
    left: 15%;
    color: rgb(128, 121, 121);

}
.tm{
    position: absolute;
    font-size: 12px;
    top: 75%;
    left: 15%;
    font-weight: bold;
    color: green;
}
.save{
    position: absolute;
    font-size: 20px;
    right: 5%;
    top: 40%;
    color: rgb(51, 48, 48);
}
.sec{
    position: absolute;
    width: 95%;
    left: 2.5%;
    height: 40%;
    border-bottom: 1px solid rgb(209, 204, 204);
    top: 40%;


}
.third{
    position: absolute;
    height: 20%;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    width: 100%;
    font-size: 20px;
    color: rgb(100, 96, 96);
    top: 80%;
}

#middle{
    position: absolute;
    height: 25%;
    width: 40%;
    left: 29%;
    top: 90%;
    background-color: white;
    border-radius: 10px;
    display: flex;
    font-size: 16px;
    justify-content: center;
    align-items: center;

    justify-content: space-between;

}
.img4{
    height: 70px;
    width: 70px;
    border-radius: 50%;
    margin-left: 20px;

}
.img5{
    height: 30px;
    width: 30px;
    border-radius: 50%;
    margin-left: -10px;
}
.detail2{
    left: 20%;
    top: 10%;
}
button{
    padding: 10px 15px;
    border-radius: 50px;
    font-size: 15px;
    font-weight: bold;
    background-color: rgb(240, 154, 74);
    border: none;
    top: 70%;
    left: 15%;
    position: absolute;
}
button:hover{
    background-color: rgb(245, 186, 130);

}


#bottom{
    position: absolute;
    height: 60%;
    width: 40%;
    background-color: white;
    top: 120%;
    left: 29%;
    border-radius: 10px;
}
#bottom>.first
{
    position: absolute;
    top: 8%;
    height: 40%;

}
#bottom>.sec
{
    position: absolute;
    top: 37%;
    height: 40%;

}
#right{
    position: absolute;
    height: 350px;
    width: 350px;
    top: 15%;
    right: 3%;
    position: fixed;
}

.view_pro{
    position: absolute;
    height: 65%;
    width: 20%;
    background-color: white;
    z-index: 9;
    top: 12%;
    right: 17.95%;
    border-radius: 10px 0px 10px 10px;
    
    border: 1px solid rgb(206, 203, 203);
    display: none;
}
.img12{
    position: absolute;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    top: 3%;
    left: 2%;

}
.naam{
    position: absolute;
    color: black;
    left: 26%;
    top: 5%;
    font-weight: bold;
}
.clgnaam{
    position: absolute;
    color: rgb(133, 127, 127);
    top: 10%;
    left: 26%;
    font-size: 14px;
}
.a3{
    position: absolute;
    padding: 4px 80px;
    border: 1px solid rgb(92, 92, 245);
    border-radius: 50px;
    font-weight: bold;
    text-decoration: none;
    margin: 10px;
    top: 22%;
    color: rgb(99, 99, 238);
    font-size: 15px;


}
.a3:hover{
    background-color: rgb(203, 203, 243);
}

.linn{
    height: 1px;
    width: 100%;
    background-color: rgb(201, 196, 196);
    position: absolute;
    top: 35%;

}


.onn{
    position: absolute;
    height: 35%;
    width: 100%;
    border-bottom: 1px solid rgb(182, 178, 178);
    top: 34%;
    font-size: 14px;
}
.onn>ul{
    list-style: none;

}
.onn>ul>li:hover{
    text-decoration: underline;

}

.twoo>ul>li:hover{
    text-decoration: underline;

}
.onn>ul>li{
    padding: 8px;
}
.onn>ul>li:nth-child(1){
    font-weight: bold;
    font-size: 18px;
}

.twoo{
    position: absolute;
    height: 25%;
    width: 100%;
    border-bottom: 1px solid rgb(182, 178, 178);
    top: 68%;
    font-size: 14px;
}
.twoo>ul{
    list-style: none;

}
.twoo>ul>li{
    padding: 5px;
}
.twoo>ul>li:nth-child(1){
    font-weight: bold;
    font-size: 18px;
}
.three{
    position: absolute;
    width: 100%;
    height: 5%;
    bottom: 1%;
    padding-left: 10px;

}
.three:hover{
    text-decoration: underline;
}



#layer2{
    position: absolute;
    height: 90%;
    width: 75%;
    top: 10%;
    background-color: rgb(0, 0, 0);
    opacity: .7;
    right: -80%;
    position: fixed;
    z-index: 9;
    /* display: none; */
}

#lay{
    position: absolute;
    height: 90%;
    width: 25%;
    background-color: white;
    right: -30%;
    top: 10%;
    border-radius: 10px 0px 0px 10px;

    position: fixed;


}
#lay>.head{
    position: absolute;
    font-weight: bold;
    top: 5%;
    left: 5%;
}
.close{
    position: absolute;
    top: 5%;
    right: 5%;
    font-size: 30px;
    color: rgb(70, 68, 68);
}

#topp{
    position: relative;
    height: 45%;
    width: 90%;
    left: 5%;
    top: 12%;
    border: 1px solid rgb(194, 194, 194);
    border-radius: 10px;

}
.vid {
    font-size: 30px;
    color: rgb(93, 93, 243);
    background-color: rgb(255, 255, 255);
    padding: 5px;
    border-radius: 5px;
    border: 1px solid rgb(207, 205, 205);
    position: absolute;
    top: 30%;
    left: 7%;
}
.vid :hover{
    box-shadow: 2px 2px 2px rgb(75, 73, 73);
}
.vid ::after{
    content: "Learning";
    position: absolute;
    font-size: 13px;
    font-family: 'Roboto', sans-serif;
    top: 130%;
    left: -10%;
    color: rgb(97, 96, 95);  
}

.ri-file-chart-line{
    font-size: 30px;
    color: rgb(93, 93, 243);
    background-color: rgb(255, 255, 255);
    padding: 5px;
    border-radius: 5px;
    border: 1px solid rgb(207, 205, 205);
    position: absolute;
    top: 30%;
    left: 33%;

}

.ri-file-chart-line:hover{
    box-shadow: 2px 2px 2px rgb(75, 73, 73);
}
.ri-file-chart-line::after{
    content: "Insights";
    position: absolute;
    font-size: 13px;
    font-family: 'Roboto', sans-serif;
    top: 130%;
    left: -10%;
    color: rgb(97, 96, 95);  
}

.ri-briefcase-4-fill{
    font-size: 30px;
    color: rgb(93, 93, 243);
    background-color: rgb(255, 255, 255);
    padding: 5px;
    border-radius: 5px;
    border: 1px solid rgb(207, 205, 205);
    position: absolute;
    top: 30%;
    left: 57%;

}

.ri-briefcase-4-fill:hover{
    box-shadow: 2px 2px 2px rgb(75, 73, 73);
}
.ri-briefcase-4-fill::after{
    content: "Post a job";
    position: absolute;
    font-size: 13px;
    width: 60px;
    font-family: 'Roboto', sans-serif;
    top: 130%;
    left: -10%;
    color: rgb(97, 96, 95);  
}



.ri-creative-commons-nc-line{
    font-size: 30px;
    color: rgb(93, 93, 243);
    background-color: rgb(255, 255, 255);
    padding: 5px;
    border-radius: 5px;
    border: 1px solid rgb(207, 205, 205);
    position: absolute;
    top: 30%;
    left: 80%;

}

.ri-creative-commons-nc-line:hover{
    box-shadow: 2px 2px 2px rgb(75, 73, 73);
}
.ri-creative-commons-nc-line::after{
    content: "Advertise";
    position: absolute;
    font-size: 13px;
    font-family: 'Roboto', sans-serif;
    top: 130%;
    left: -10%;
    color: rgb(97, 96, 95);  
}

.ri-compass-3-line{
    font-size: 30px;
    color: rgb(93, 93, 243);
    background-color: rgb(255, 255, 255);
    padding: 5px;
    border-radius: 5px;
    border: 1px solid rgb(207, 205, 205);
    position: absolute;
    top: 64%;
    left: 7%;

}

.ri-compass-3-line:hover{
    box-shadow: 2px 2px 2px rgb(75, 73, 73);
}
.ri-compass-3-line::after{
    content: "Find Leads";
    position: absolute;
    font-size: 13px;
    font-family: 'Roboto', sans-serif;
    top: 130%;
    left: -14%;
    color: rgb(97, 96, 95);  
    width: 70px;
}


.ri-group-2-line{
    font-size: 30px;
    color: rgb(93, 93, 243);
    background-color: rgb(255, 255, 255);
    padding: 5px;
    border-radius: 5px;
    border: 1px solid rgb(207, 205, 205);
    position: absolute;
    top: 64%;
    left: 33%;

}

.ri-group-2-line:hover{
    box-shadow: 2px 2px 2px rgb(75, 73, 73);
}
.ri-group-2-line::after{
    content: "Groups";
    position: absolute;
    font-size: 13px;
    font-family: 'Roboto', sans-serif;
    top: 130%;
    left: -10%;
    color: rgb(97, 96, 95);  
}

.ri-user-follow-line{
    font-size: 30px;
    color: rgb(93, 93, 243);
    background-color: rgb(255, 255, 255);
    padding: 5px;
    border-radius: 5px;
    border: 1px solid rgb(207, 205, 205);
    position: absolute;
    top: 64%;
    left: 57%;

}

.ri-user-follow-line:hover{
    box-shadow: 2px 2px 2px rgb(75, 73, 73);
}
.ri-user-follow-line::after{
    content: "Services Marketplaces";
    position: absolute;
    font-size: 12px;
    font-family: 'Roboto', sans-serif;
    top: 130%;
    left: -30%;
    color: rgb(97, 96, 95);  
    align-items: center;
    text-align: center;
}

.salary{
    font-size: 30px;
    color: rgb(93, 93, 243);
    background-color: rgb(255, 255, 255);
    padding: 5px;
    border-radius: 5px;
    border: 1px solid rgb(207, 205, 205);
    position: absolute;
    top: 64%;
    left: 80%;

}

.salary:hover{
    box-shadow: 2px 2px 2px rgb(75, 73, 73);
}
.salary::after{
    content: "Salary";
    position: absolute;
    font-size: 13px;
    font-family: 'Roboto', sans-serif;
    top: 130%;
    left: -10%;
    color: rgb(97, 96, 95);  
}
.headd{
    position: relative;
    height: 20%;
    width: 100%;
    border-bottom: 1px solid rgb(194, 194, 194);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    color: rgb(56, 56, 56);
}

.bottom{
    position: relative;
    height: 50%;
    width: 90%;
    left: 5%;
    border: 1px solid rgb(194, 194, 194);
    border-radius: 10px;
    top: 15%;
}
.on{
    position: absolute;
    height: 20px;
    left: 10%;
    top: 25%;

}
.on:hover{
    text-decoration: underline;
}
.on>.txt{
    font-size: 15px;
    font-weight: bold;
    color: rgb(27, 27, 27);
    margin-bottom: 5px;
}

.on>.subtxt{
    font-size: 12px;
    color: rgb(119, 116, 116);


}
.tw{
    position: absolute;
    height: 20px;
    left: 10%;
    top: 40%;

}
.tw:hover{
    text-decoration: underline;
}
.tw>.txt{
    font-size: 15px;
    font-weight: bold;
    color: rgb(27, 27, 27);
    margin-bottom: 5px;
}

.tw>.subtxt{
    font-size: 12px;
    color: rgb(119, 116, 116);


}

.thr{
    position: absolute;
    height: 20px;
    left: 10%;
    top: 55%;

}
.thr:hover{
    text-decoration: underline;
}
.thr>.txt{
    font-size: 15px;
    font-weight: bold;
    color: rgb(27, 27, 27);
    margin-bottom: 5px;
}

.thr>.subtxt{
    font-size: 12px;
    color: rgb(119, 116, 116);


}.for{
    position: absolute;
    height: 20px;
    left: 10%;
    top: 70%;

}

.for:hover{
    text-decoration: underline;
}
.for>.txt{
    font-size: 15px;
    font-weight: bold;
    color: rgb(27, 27, 27);
    margin-bottom: 5px;
}

.for>.subtxt{
    font-size: 12px;
    color: rgb(119, 116, 116);


}












@media (max-width:500px){

    .nav_bar>.menu{
        left: 0%;
        top: 12%;
        color: black;


    }
    .nav_bar>.g,.ae1{
        display: none;
    }
    .nav_bar{
        height: 7%;
    }
    .nav_bar>.prof{

        /* position: absolute; */
        left: 0%;
        top: 30%;
       
    }
    .menu ul li{
        
        padding-left: 50px;
        top: 80%;
    }
    .search_bar{
        position: absolute;
        height: 30px;
        width: 70%;
        font-size: 10px;
        display: none;
    }

    .nav_bar>a,.line1,.img1{
        display: none;
    }
    .nav_bar>.prof{

        position: absolute;
        left: 5%;
        top: 30%;
       
    }
    .nav_bar>.img2::before{
        display: none;
    }

    #left{
        display: none;
    }
    #top{
        top: 10%;
        width: 100%;
        left: 0%;
        height: 60%;
    }
    #middle{
        top: 72%;
        width: 100%;
        left: 0%;
        height: 22%;

    }
    .img3{
        height: 50px;
        width: 50px;
    }
    .img4{
        height: 50px;
        width: 50px;
        top: 5%;
    }
    .img5{
        height: 25px;
        width: 25px;
    }
    #bottom{
        top: 98%;
        width: 100%;
        left: 0%;
        height: 50%;
    }
    #bottom>.subhead{
        top: 13%;
    }
    .detail2{
        margin-left: 20px;
        top: 10%;
    }
    button{
        padding: 7px 12px;
        top: 75%;
        font-size: 12px;
    
    }
    #right{
        display: none;
    }
    .prof>h3{
        display: none;
    }
    .ae{
        display: none;
    }
    .head{
        top: 4%;
    }
    .subhead{
        top: 10%;
    }
    .nam{
        font-size: 15px;
    }
    .mode{
        font-size: 13px;
        margin-top: 2px;
        
    }
    .place{
        margin-top: 5px;

    }
   



}